@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro");

body { font-family: 'Source Sans Pro', sans-serif }

.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px gray;
    cursor: default;
    border-radius: 0%;
}

.note {
    font-size: 15px;
    color: #000
}

.copy_right_footer {
    position: fixed;
    color: #fff;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
    box-shadow: 5px 5px 5px #555555;
    color: #000
}

canvas {
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray
}